h1,
h2,
h3,
h4,
h5,
h6,
li {
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 1;
    margin-top: 0;
    text-rendering: optimizeLegibility
}

html, body{
    height: 100%;
}

h1 {
    font-size: 60px;
    font-size: 1.875rem;
    margin-bottom: 0.495em;
}

header .title {
    text-transform: uppercase;
    letter-spacing: 6px;
}

header .menu-item {
    text-transform: uppercase;
    letter-spacing: 6px;
}

#site-header {
    text-align: center;
    min-height: 11em;
    position: relative;
    top: 50%;
    margin-top: -5.5em;
}

ul.m-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

ul.m-nav:after {
    content: " ";
    visibility: hidden;
    clear: both;
}

ul.m-nav > li {
    margin-top: 16px;
    margin-top: 0.5rem;
}

ul.m-nav > li > a {
    font-size: 16px;
    font-size: 0.5rem;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(./montserrat.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(./sourcesanspro.woff) format('woff');
}

@media (min-device-width: 772px){
    #site-header:hover ul.m-nav{
        opacity: 1;
    }
    ul.m-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: inline-block;
        opacity: 0;
        transition: opacity 500ms;
    }
    ul.m-nav > li{
        float: left;
    }
}
