h1,
h2,
h3,
h4,
h5,
h6,
li {
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 1;
    margin-top: 0;
    text-rendering: optimizeLegibility
}

html {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.65;
    font-weight: normal;
    overflow-y: scroll;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    height: 100%;
}

h1 {
    font-size: 60px;
    font-size: 1.875rem;
    margin-bottom: 0;
}

header .title {
    text-transform: uppercase;
    letter-spacing: 6px;
}

header .menu-item {
    text-transform: uppercase;
    letter-spacing: 6px;
}

#site-header {
    text-align: center;
    min-height: 11em;
    position: relative;
    top: 40%;
    margin-top: -5.5em;
    padding-left: 10%;
    padding-right: 10%;
}

ul.m-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

ul.m-nav:after {
    content: " ";
    visibility: hidden;
    clear: both;
}

ul.m-nav > li   {
   margin-top: 32px; 
   margin-top: 1rem;
   margin-left: 4px;
   margin-left: 0.125rem;
   margin-right: 4px; 
   margin-right: 0.125rem; 
   float: left;
}

ul.m-nav > li > a {
    font-size: 36px;
    font-size: 1.125rem;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 0 16px;
    padding: 0 0.5rem;
    text-decoration: none;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(./montserrat.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(./sourcesanspro.woff) format('woff');
}

@media (min-device-width: 772px){
    #site-header:hover ul.m-nav {
        opacity: 1;
        transform: translate(0, 24px);
        transform: translate(0, 0.75rem);
    }

    ul.m-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: inline-block;
        opacity: 0;
        transition: all 1.5s;
    }

    ul.m-nav > li{
       margin-top: 4px; 
       margin-top: 0.125rem;
       float: left;
    }

	#site-header:hover div.title {	
        transform: translate(0, 24px);
        transform: translate(0, 0.75rem);
    }

	div.title {
        z-index: 99;
        transform: translate(0, 48px);
        transform: translate(0, 1.5rem);
        transition: transform 0.5s; 
		position: relative;
	}
}

